################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MinhasTarefas/FileContentIndex
/.vs/MinhasTarefas/v17/.suo
