################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MinhasTarefas/FileContentIndex
/.vs/MinhasTarefas/v17/.suo
/.vs/MinhasTarefas/FileContentIndex/261e72c0-275f-4b46-86e4-835fb04b75bb.vsidx
